/* ------------------- Body Styles ------------------- */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Poiret+One&display=swap');

:root {
    --pb: hsl(270, 45%, 87%);
    --sb: hsl(150, 65%, 73%);
    --tb: hsl(30, 50%, 80%);
    --po: 'Poiret One';
    --ct: 'Crimson Text';
}

body {background-color: var(--pb);}

#title {
    margin-top: 25px;
    font-family: var(--po, display);
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
}

#description {text-align: center; font-weight: 500;}

#main {
    background-color: var(--sb);
    margin: 2rem auto;
    border: 2px solid var(--tb);
    border-radius: 10px;
    padding: 20px 5px;
    font-family: var(--ct, serif);
    font-size: 1.25rem;
    width: 90%;
} 

#submit {
    background-color: var(--tb);
    color: black;
    margin: auto;
    border: 1px solid black;
    font-size: 1.25rem;
    display: block;
}

.required {font-weight: bold;}