/* ------------------- Body Styles ------------------- */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Poiret+One&display=swap');

:root {
    --pb: hsl(270, 45%, 87%);
    --sb: hsl(120, 65%, 80%);
    --tb: hsl(60, 75%, 40%);
    --po: 'Poiret One';
    --ct: 'Crimson Text';
}

body {background-color: var(--pb);}

#title {
    font-family: var(--po, display);
    font-size: 10vh;
    text-align: center;
    text-decoration: underline;
}

#description {text-align: center; font-weight: 500;}

/* Redundant Styles:

#main {
    background-color: var(--sb);
    margin: 2.5%;
    border: 2px solid var(--tb);
    border-radius: 10px;
    padding:  1.25% 2.5%;
    font-family: var(--ct, serif);
    font-size: 4vh;
    width: 90%;
} 
input, select, textarea, button {font-size: 3vh; padding: 5px; border-radius: 5px;}

hr {width: 85vw; margin: 2vh auto; border: 1px solid var(--tb);}

<------------------------ Main Styles: ---------------------------->



// Form Styles: 
// Details and Questions Styles:

#details, #questions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.d-div {margin: 2vh auto;}
.q-label {margin: 2vh auto;}
.required {font-style: italic;}
.rc {margin: 1vh auto;}

// Comments Styles:

#comments-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#comments {margin-top: 2vh; width: 90%; font-size: 3vh;}

// Submit Styles:

#submit {background-color: var(--tb); margin: auto; border: 1px solid var(--pb); border-radius: 5px; padding: 10px; color: var(--sb); display: block; position: relative; bottom: 2vh;}

<-------------------------- Media Queries -------------------------->

@media (max-width: 767px) {
    #main {font-size: 4vh;}
    input, select, textarea, button {font-size: 4vh;}
    #details, #questions {
        align-items: flex-start ;
    }
    .q-label {margin: 2vh 0;}
    #improve-label {margin-top: 3vh;}
    #comments {width: 90%;}
}

@media (min-width: 1367px) {
    #main {font-size: 7.5vh;}
    input, select, textarea, button {font-size: 7.5vh;}
    #comments {font-size: 7.5vh;}
}

*/